<!DOCTYPE html>

<html lang="ro">
<%- include('../fragmente/head') %>

<body>

        <div class="top-button">
            <a href="#top" title="sus" id="link-top">&#x25B4</a>
        </div>
        <div class="watermark print-only">Andreea Megherlich</div>

        <%- include ('../fragmente/titlu') %>

        <div class="content">

        <section id="magazin">
            <h2>Cel mai magazin pentru nevoile tale artistice</h2>

            <div class="vid-box">
                <div class="vid-tabs">
                    <a href="https://www.youtube-nocookie.com/embed/wN1AgchixP8" target="ifr-video">Mental health benefits of art</a>
                    <a href="https://www.youtube-nocookie.com/embed/AJfG9PodGbw" target="ifr-video">Tutorial mărgelit</a>
                    <a href="https://www.youtube-nocookie.com/embed/th7rc-xEVzE" target="ifr-video">Ghid de sculptură (începători)</a>
                    <!-- <br> -->
                </div>
                
                <iframe class="video" name="ifr-video" width="560" height="315" src="https://www.youtube-nocookie.com/embed/wN1AgchixP8" title="YouTube Player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

            </div>

            
            <figure>
                <picture>
                    <source media="(min-width: 800px)" srcset="/res/img/hh1_large.jpg">
                    <source media="(min-width: 500px)" srcset="/res/img/hh1_medium.jpg">
                    <img src="/res/img/hh1_small.jpg" alt="Margele">
                </picture>
                <figcaption>Mărgele de calitate pentru toate proiectele: <a href="https://www.miyuki-beads.co.jp/english/">Miyuki</a>, Toho și sticlă presată!</figcaption>
            </figure>
            
            <section id="descriere">
                <h3>Pentru pasiunile tale!</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore necessitatibus nihil facere temporibus? Illum, explicabo. Deserunt molestias dicta labore, vel, voluptatibus in praesentium, voluptas voluptates ad maiores officiis incidunt molestiae.</p>
                <p>Site sponsorizat de <a href="https://fmi.unibuc.ro">Universitatea din București</a>. </p>
            </section>

            <section id="categorii">
                <h3>Categorii de produse</h3>
                <p>Avem produse din următoarele categorii:</p>
                <ul>
                    <li>Modelat
                        <ul>
                            <li>Clay</li>
                            <li>Polimeric</li>
                            <li>Rășini</li>
                            <li>Ustensile</li>
                            <li>Altele</li>
                        </ul>
                    </li>
                    <li>Mărgelit
                        <ul>
                            <li>Mărgele de nisip</li>
                            <li>Mărgele de sticlă</li>
                            <li>Cristale</li>
                            <li>Mărgele din lemn</li>
                            <li>Componente metalice</li>
                            <li>Ace și unelte</li>
                            <li>Ață</li>
                        </ul>
                    </li>
                    <li>Croșetat
                        <ul>
                            <li>Șnur</li>
                            <li>Ustensile</li>
                            <li>Altele</li>
                        </ul>
                    </li>
                </ul>
            </section>
        </section>


        </div>

        <div class="calendar">
            calender
        
        </div>

        <div class="table">
            <table>
                <caption>Lista workshop-urilor viitoare</caption>
                <thead>
                    <tr>
                        <th>Data</th>
                        <th>Workshop</th>
                        <th>Locație</th>
                        <th colspan="2">Interval orar</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>10.04.2025</td>
                        <td>Modelare cu lut polimeric</td>
                        <td>București</td>
                        <td>16:00</td>
                        <td>17:30</td>
                    </tr>
                    <tr>
                        <td>12.04.2025</td>
                        <td>Lucru cu mărgele de nisip</td>
                        <td>Iași</td>
                        <td>11:00</td>
                        <td>12:00</td>
                    </tr>
                    <tr>
                        <td>18.04.2025</td>
                        <td>Tehnici avansate de croșetat</td>
                        <td>Timișoara</td>
                        <td>17:30</td>
                        <td>18:30</td>
                    </tr>
                    <tr>
                        <td>25.04.2025</td>
                        <td>Cum să vinzi produse handmade</td>
                        <td>ONLINE</td>
                        <td>18:00</td>
                        <td>19:00</td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="5">Pentru detalii și înscriere, verificați secțiunea de evenimente!</td>
                    </tr>
                </tfoot>
            </table>

        </div>

        <div class="announcements">
            anunturi
        </div>



        <div class="extra">
            <h2>Galerie</h2>
            <p>Vezi cele mai recente lucrări ale comunității noastre!</p>
            <%- include('../fragmente/galerie-statica', { imagini: imagini }) %>
        </div>



        <div class="status">
            status server site ceva
        </div>

        <div class="users">
            <p>Adresa ta IP: <%= ip %></p>
        </div>

        <div class="stats">
            statistici site
        </div>

        <%- include('../fragmente/footer')%>

</html>